<div class="adaptiveContainer">
  <h2>Lorem ipsum dolor sit amet</h2>
  <div class="devices">
    <div class="free">ITS 100% FREE</div>
    <img class="desktop" src="../../assets/desktop.png"/>
    <img class="tablet" src="../../assets/tablet.png"/>
    <img class="phone" src="../../assets/phone.png"/>
  <div class="text">
    <div>Sed ut perspiciatis unde omnis</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing </div>
    <div>Sed ut perspiciatis unde omnis</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing </div>
  </div>
  </div>
</div>
