<div class="twitterContainer">
  <div class="twiLogo">
    <img src="../../assets/twitter.png"/>
  </div>
  <div class="bubblesAndInput">
    <div class="bubbles">
      <div class="msg active">Daily Mobile UI Design Inspiration #1 
          via @cssauthor</div>
      <div class="msg">Daily Mobile UI Design Inspiration #1 
          via @cssauthor</div>
      <div class="msg">Daily Mobile UI Design Inspiration #1 
          via @cssauthor</div>
    </div>
    <div class="inputBtn">
      <input type="text"/>
      <button>Tweet</button>
    </div>
  </div>
</div>
