<div class="container">
    <div class="arrow arrow--left">
      <img src="../../assets/arrow_left.png"/>
    </div>
  <div class="videoblock">
    <img class="video-item" src="../../assets/bannervideo.png"/>
    <div class="fill">
    </div>

    <div class="circlePlay">
      <div class="button">
        <img src="../../assets/play.png"/>
      </div>
    </div>
    <div class="controls">
      <div class="squarePlay">
          <div class="button">
            <img src="../../assets/play.png"/>
          </div>
        </div>
        <div class="progress-bar">
          <div class="progress-bar__value" [style.width.%]="45"></div>
        </div>
        <img class="val" src="../../assets/volume.png"/>

    </div>
  </div>
  <div class="text">
      <p>THE COOL</p>
      <p>THE MINIMAL</p>
    </div>
    <div class="arrow arrow--right arrow--active">  
      <img src="../../assets/arrow_right.png"/>
    </div>
    
</div>