<div class="nav">
  <div class="logo">
    <img src="../../assets/logo1.png"/>
    <img class="absolute" src="../../assets/logo2.png"/>
    <h3>THEAYELLOW</h3>
    <p>Craft By Css author.com</p>
  </div>
  <div class="links">
    <div>
      <img src="../../assets/about.png"/>
      <a href="#">ABOUT US</a>
    </div>
    <div>
      <img src="../../assets/service.png"/>
      <a href="#">SERVICES </a>
    </div>
    <div>
      <img src="../../assets/contact.png"/>
      <a href="#">CONTACT</a>
    </div>
  </div>
</div>
